* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: 'Manrope', sans-serif;
  background-color: #ecf2f8;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 327px;
  min-height: 512px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 4px 0px 10px rgba(158, 175, 194, 0.2);
          box-shadow: 4px 0px 10px rgba(158, 175, 194, 0.2);
  position: relative;
  min-width: 280px;
}

.article__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  max-height: 200px;
}

.article__main {
  min-height: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 31px 20px 31px;
}

.article__title {
  font-size: 16px;
  font-weight: 700;
  color: #48556a;
  margin-bottom: 10px;
}

.article__text {
  font-size: 13px;
  color: #6d7f97;
  line-height: 20px;
  word-spacing: 1px;
  margin-bottom: 30px;
}

.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__author-image {
  height: auto;
  width: 100%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.article__author-info {
  font-size: 13px;
}

.article__post-date {
  color: #6d7f97;
}

.article__arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #ecf2f8;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 100;
  cursor: pointer;
  border: none;
}

.article__arrow-container--active {
  background-color: #6d7f97;
}

.article__arrow {
  fill: white;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.article__share {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #48556a;
  height: 80px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

.article__share--active {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.article__share-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 40px;
  margin: 20px 32px 20px 32px;
  gap: 5px;
  width: 175px;
}

.article__share-text {
  text-transform: uppercase;
  color: #9eafc2;
  font-size: 12px;
  letter-spacing: 4px;
}

.article__social-media {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  vertical-align: middle;
}

.article__social-media:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*desktop disigne
  max-width: 730px;
  height: 280px;
*/
@media screen and (min-width: 550px) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 730px;
    min-height: 280px;
  }
  .article__image {
    max-width: 285px;
    max-height: unset;
    border-radius: 15px 0px 0px 15px;
  }
  .article__main {
    min-height: unset;
    padding: 34px 40px 32px 40px;
  }
  .article__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .article__text {
    font-size: 13px;
    margin-bottom: 22px;
  }
  .article__author {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 17px;
  }
  .article__author-info {
    width: 100%;
  }
  .article__share {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 99px;
    left: unset;
    right: -67px;
    height: 55px;
    width: 248px;
    border-radius: 15px;
  }
  .article__share::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #48556a transparent transparent transparent;
    z-index: 20;
  }
}
/*# sourceMappingURL=style.css.map */