//colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: 'Manrope', sans-serif;
  background-color: $light-grayish-blue;
}

.article {
  display: flex;
  max-width: 327px;
  min-height: 512px;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 0px 10px hsla(212, 23%, 69%, 0.2);
  position: relative;
  min-width: 280px;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    max-height: 200px;
  }

  &__main {
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 31px 20px 31px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $very-dark-grayish-blue;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 13px;
    color: $desaturated-dark-blue;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 30px;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-image {
    height: auto;
    width: 100%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &__author-info {
    font-size: 13px;
  }

  &__author-name {
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__post-date {
    color: $desaturated-dark-blue;
  }

  &__arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: $light-grayish-blue;
    flex-shrink: 0;
    z-index: 100;
    cursor: pointer;
    border: none;

    &--active {
      background-color: $desaturated-dark-blue;
    }
  }

  &__arrow {
    fill: white;
    transition: 0.5s ease-out;
  }

  &__share {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: $very-dark-grayish-blue;
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;

    &--active {
      visibility: visible;
      animation: fadeIn 0.5s;
    }
  }

  &__share-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 40px;
    margin: 20px 32px 20px 32px;
    gap: 5px;
    width: 175px;
  }

  &__share-text {
    text-transform: uppercase;
    color: $grayish-blue;
    font-size: 12px;
    letter-spacing: 4px;
  }

  &__social-media {
    transform: scale(1);
    transition: 0.2s ease-out;
    vertical-align: middle;
  }

  &__social-media:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*desktop disigne
  max-width: 730px;
  height: 280px;
*/

@media screen and (min-width: 550px) {
  .article {
    flex-direction: row;
    max-width: 730px;
    min-height: 280px;

    &__image {
      max-width: 285px;
      max-height: unset;
      border-radius: 15px 0px 0px 15px;
    }

    &__main {
      min-height: unset;
      padding: 34px 40px 32px 40px;
      // min-width: 445px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 13px;
      margin-bottom: 22px;
    }

    &__author {
      justify-content: space-between;
      gap: 17px;
    }

    &__author-info {
      width: 100%;
    }

    &__share {
      // visibility: hidden;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 99px;
      left: unset;
      right: -67px;
      height: 55px;
      width: 248px;
      border-radius: 15px;
    }

    &__share::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border-width: 15px;
      border-style: solid;
      border-color: $very-dark-grayish-blue transparent transparent transparent;
      z-index: 20;
    }
  }
}

